<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área de usuario</title>
    <link rel="icon" type="image/x-icon" href="/img/ecuador_escudo.ico">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Bienvenido, <%= user.name %>!</h1>
    <div class="max-w-sm p-3 bg-white border border-yellow-600 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mx-auto my-10">
        <h1 class="text-3xl font-serif text-center text-gray-900 dark:text-white">Consultas</h1>
        <h2 class="text-2xl font-serif text-center text-gray-700 dark:text-white">Nuestro Chat Inteligente</h2>  
        <p>&nbsp</p>
        <form action="/consultar" method="post">   
            <label for="consulta" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-black">Ingrese su consulta:</label>
            <div class="relative">
                <div id="resizableDiv" class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>                
                <input type="text" id="consulta"  name="consulta" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" style="font-size: 16px; height: 50px;" placeholder="Pregúntame" required />
            </div>
            <button type="submit" class="mt-4 text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:from-green-500 hover:via-green-600 hover:to-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 w-full dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Consultar</button>
        </form>
    </div>
    <p>&nbsp</p>
    <button class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded">
        <a href="/logout">Cerrar sesión</a>
      </button>
</body>
</html>
